@{ 

}

<div class="text-center">
    @*<h1 class="text-danger">Access Denied</h1>
    <h2 class="text-danger">You do not have permission to access it</h2>*@
    <img src="~/images/denied.jpg" class="img-fluid border-2 border-dark rounded"/>
</div>

